/******
VARIABLES
******/

// text:
$text-primary: #FFFFFF;
$text-secondary: #00AC4D;

// background:
$bg-primary: #1A1935;
$bg-secondary: #28253A;
$bg-tertiary: #202046;
$bg-cards: #152258;
$bg-green-primary: #05CC7C;

// buttons & icons:
$bg-btn-primary: #00AC4D;
$bg-btn-secondary: #1A1935;
$bg-socials: #3C3C93
